<!-- BEGIN: MAIN -->
<div class="main mainXs">
    <!-- BEGIN: BANNER SECTION -->
    <div class="indexBaner">
        <div class="indexBanerCover pr">
            <div class="cover-image indexBanerbg"></div>
            <div class="container">
                <div class="home-banner pa">
                    <div class="banerIn">
                        <h3 class="text-uppercase no-mar text-40 text-white font-wsemib banerHead">{{'Heavy Service'|translate}} <span class="text-primary">{{'Quotes'|translate}}</span></h3>
                        <p class="top-mspace text-18 text-white banerP"> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, </p>
                        <ul class="list-inline top-mspace">
                            <li><a href="my_works" title="{{'Rental Quotes'|translate}}" class="btn btn-default text-uppercase text-18 rentalBtun">{{'Rental Quotes'|translate}}</a></li>
                            <li><a href="my_works?type=sales" title="{{'Sales Quotes'|translate}}" class="btn btn-primary text-uppercase text-18 PurchaBtun">{{'Sales Quotes'|translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: BANNER SECTION -->
    <!-- BEGIN: HOW ITS WORK -->
    <div class="howitWork" id="how_it_works">
        <div class="container">
            <div class="text-center howHead">
                <h2 class="text-uppercase text-44 bot-big-mspace howitH cuprumFont">{{'How It'|translate}} <span class="text-primary">{{'Works'|translate}}</span></h2>
                <p class="center-block text-18 howP bot-big-mspace"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center bg-white ver-big-mspace pr howitBlocks qutoesBlock">
                        <div class="bot-small-space">
                            <a href="" title="Quotes Link" class="img-circle center-block show pr imgContain"> <img src="themes/ryan/images/qutoes.png" alt="Quotes Image" title="Quotes Image" class="pa"> </a>
                        </div>
                        <h3 class="text-24">{{'Request Quote'|translate}}</h3>
                        <p class="howP text-16"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center bg-white ver-big-mspace pr howitBlocks offerBlock">
                        <div class="bot-small-space">
                            <a href="" title="Offers Link" class="img-circle center-block show pr imgContain"> <img src="themes/ryan/images/offers.png" alt="Offers Image" title="Offers Image" class="pa"> </a>
                        </div>
                        <h3 class="text-24">{{'Choose Provider'|translate}}</h3>
                        <p class="howP text-16"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center bg-white ver-big-mspace pr howitBlocks equipBlock">
                        <div class="bot-small-space">
                            <a href="" title="Service Link" class="img-circle center-block show pr imgContain"> <img src="themes/ryan/images/equipment.png" alt="Service Image" title="Service Image" class="pa"> </a>
                        </div>
                        <h3 class="text-24"> {{'Work Done'|translate}}</h3>
                        <p class="howP text-16"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: HOW ITS WORK -->
    <!-- BEGIN: CHOOSE OUR PRODUCT -->
    <div class="weChoose pr">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h2 class="text-uppercase text-44 bot-big-mspace howitH cuprumFont">{{'Why Choose'|translate}}<span class="text-primary"> {{'Our Product'|translate}}</span></h2>
                        <p class="center-block text-18 howP bot-big-mspace font-wlight"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        <p class="center-block text-18 howP bot-big-mspace font-wlight"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna quat. </p>
                        <p class="center-block text-18 howP bot-big-mspace font-wlight"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna quat. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wechooseVideo">
                        <div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" src="//www.youtube.com/embed/XQu8TTBmGhA"></iframe> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CHOOSE OUR PRODUCT -->
    <!-- BEGIN: EMMA CONTENT CAROUSAL -->
    <quote_home_reviews></quote_home_reviews>
    <!-- END: EMMA CONTENT CAROUSAL -->
    <!-- BEGIN: FEATURE Service -->
    <quote_service_category_lists></quote_service_category_lists>
    <!-- END: FEATURE Service -->
    <!-- BEGIN: DOWNLOAD MOBILE APP -->
    <div class="mobileApp pr">
        <div class="cover-image mblappBg"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mobilappPic"> </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <h3 class="text-32 bot-big-mspace">Download Our Mobile App</h3>
                        <p class="center-block text-18 bot-big-mspace"> Suppliers Members can manage, track, request and rent out service from the convenience of your mobile phone. </p>
                        <div>
                            <form>
                                <div class="form-group getappForm">
                                    <div class="input-group"> <input type="text" class="form-control pull-left no-rad text-16" placeholder="Enter your mobile number"> <input type="submit" value="Get App" class="btn pull-left getappBtun no-rad"> </div>
                                </div>
                            </form>
                        </div>
                        <ul class="list-inline top-big-mspace">
                            <li>
                                <a href="" title="appstorelink" class="show appstorLink"><img src="themes/ryan/images/appstore.png" alt="appstore" title="appstore"></a>
                            </li>
                            <li>
                                <a href="" title="googleplaylimk" class="show googleplyLink"><img src="themes/ryan/images/googleplay.png" alt="googleplay" title="googleplay"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: DOWNLOAD MOBILE APP -->
    <!-- BEGIN: REQUEST INFORMATION -->
    <div class="howitWork featuerdEquip bg-black">
        <div class="container">
            <div class="text-center howHead">
                <h2 class="text-uppercase text-44 bot-big-mspace howitH text-white cuprumFont">{{'Request Information'|translate}}</h2>
                <p class="center-block text-18 text-white font-wlight bot-big-mspace">{{'To request information please fill out the following details'|translate}}</p>
            </div>
            <div class="requestformBlock top-mspace">
                <form role="form" name="contactHome" ng-submit="saveHomeContact()" class="col-md-9 form-center">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="reqinputBlock"> <input ng-model="contact_home.first_name" pattern="[a-zA-Z]+" id="inputFirstNameHome3" autocomplete="off" required type="text" class="form-control text-uppercase text-16 bot-mspace" placeholder="{{'First Name'|translate}}">                                <i class="fa fa-user"></i> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="reqinputBlock"> <input ng-model="contact_home.last_name" pattern="[a-zA-Z]+" id="inputLastNameHome3" autocomplete="off" required type="text" class="form-control text-uppercase text-16 bot-mspace" placeholder="{{'Last Name'|translate}}">
                                <i
                                    class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="reqinputBlock"> <input type="email" ng-model="contact_home.email" pattern="[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}" title="{{'Please enter valid email address'|translate}}" id="inputEmailHome3" placeholder="{{'Email'|translate}}"
                                    autocomplete="off" required class="form-control text-uppercase text-16 bot-mspace"> <i class="fa fa-envelope-o"></i> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="reqinputBlock"> <input type="text" pattern="\+?\d{10}" title="{{'Please enter valid mobile no'|translate}}" ng-model="contact_home.phone" id="inputMobileHome3" placeholder="{{'Mobile'|translate}}" autocomplete="off" required class="form-control text-uppercase text-16 bot-mspace">                                <i class="fa fa-mobile"></i> </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="reqinputBlock"> <input type="text" ng-model="contact_home.subject" id="inputUsernameHome3" placeholder="{{'Subject'|translate}}" autocomplete="off" required class="form-control text-uppercase text-16 bot-mspace"> <i class="fa fa-envelope"></i>                                </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="reqinputBlock"> <textarea rows="3" ng-model="contact_home.message" id="inputMessageHome3" placeholder="{{'Message'|translate}}" autocomplete="off" required class="form-control text-uppercase text-16 bot-mspace"></textarea> <i class="fa fa-pencil"></i>                                </div>
                        </div>
                    </div>
                    <div class="checkbox text-center term-checkbox top-big-mspace"> <label class="grayc font-wlight">
                        <input type="checkbox" ng-model="agree" required >
                        <span class="text-white text-14 terms-conditions terms-agreement">{{'I have read and agree with'|translate}} 
                            <a href="pages/7/term-and-conditions" target="_blank" class="text-14 termCondi" title="{{'Terms and Conditions of Use'|translate}}">{{'Terms and Conditions of Use'|translate}}</a>
                        </span>
                    </label> </div>
                    <div class="text-center ver-big-mspace"> <input type="submit" value="Submit" class="btn btn-primary text-uppercase text-18 viewBtun text-white subBtun"> </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END: REQUEST INFORMATION -->
</div>
<!-- BEGIN: MAIN -->