<div class="section navbar-default">
    <div class="howitWork">
        <div class="container">
            <div class="text-center howHead">
                <h2 class="text-uppercase text-44 bot-big-mspace howitH cuprumFont">{{'Looking to'|translate}} <span class="text-primary">{{'Hire?'|translate}}</span></h2>
                <p class="center-block text-18 howP "> {{'Hire freelancers for a fraction of the time and cost!'|translate}} </p>
                <p class="center-block text-18 howP "> {{'You\'ll really love number of options.'|translate}} </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center bg-white ver-big-mspace pr howitBlocks qutoesBlock">
                        <div class="bot-small-space">
                            <a href="#" title="Quotes Link" class="img-circle center-block show pr imgContain"> <img src="themes/ryan/images/qutoes.png" alt="Quotes Image" title="Quotes Image" class="pa"> </a>
                        </div>
                        <h3 class="text-24">{{'Request Quote'|translate}}</h3>
                        <p class="howP text-16"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center bg-white ver-big-mspace pr howitBlocks offerBlock">
                        <div class="bot-small-space">
                            <a href="#" title="Offers Link" class="img-circle center-block show pr imgContain"> <img src="themes/ryan/images/offers.png" alt="Offers Image" title="Offers Image" class="pa"> </a>
                        </div>
                        <h3 class="text-24">{{'Choose Providers'|translate}}</h3>
                        <p class="howP text-16"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center bg-white ver-big-mspace pr howitBlocks equipBlock">
                        <div class="bot-small-space">
                            <a href="#" title="Service Link" class="img-circle center-block show pr imgContain"> <img src="themes/ryan/images/equipment.png" alt="Service Image" title="Service Image" class="pa"> </a>
                        </div>
                        <h3 class="text-24"> {{'Work Done'|translate}}</h3>
                        <p class="howP text-16"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                </div>
            </div>
            <div class="row top-mspace mob-no-mar">
                <div class="col-sm-4 col-md-3 float-none"> <a href="quote_services" class="btn btn-block btn-primary btn-lg" title="{{'Browse Services'|translate}}">{{'Browse Services'|translate}}</a> </div>
            </div>
        </div>
    </div>
</div>