<div class="modal-header"><button type="button" class="close" ng-click="close_review()">x</button>
    <h3>{{'Add Review' | translate}}</h3>
</div>
<div class="modal-body">
    <form name="ratingFormAdd" ng-submit="addReview()">
        <div class="form-group"> <label>{{'Rate'|translate}}</label> <span class="myrating" uib-rating ng-model="reviews.rating" max="max" on-hover="hoveringOver(value)" read-only="false" state-on="'fa fa-star fa-lg'" state-off="'fa fa-star-o fa-lg'"></span> </div>
        <div class="form-group">
        <label>{{'Message'|translate}}</label> <textarea ng-model="reviews.message" class="form-control"></textarea> </div>
        <div class="form-group">
             <button type="submit" class="btn textb btn-primary">{{'Submit'| translate}}</button> 
             <!--<input type="submit" name="saveReview" class="btn textb btn-primary">--> </div>
    </form>
</div>