<div class="section" ng-controller='UsersForgotPasswordController'>
    <div class="container">
        <div class="row">
            <div class="user-login forgot-pwd">
                <h4>{{'Forgot Password'|translate}}</h4>
                <hr>
                <form class="user-ascess-form" role="form" name="userForgotPassword" ng-submit="save()">
                    <div class="form-group"> <input type="email" ng-model="user.email" pattern="[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}" title="{{'Please enter valid email address'|translate}}" class="form-control" id="inputEmail3" placeholder="Email" autocomplete="off"
                            required> </div>
                    <div class="form-group" ng-if="show_recaptcha">
                        <div class="col-sm-4">&nbsp;</div>
                        <div class="col-sm-8 google-recaptcha"> </div>
                    </div>
                    <div class="form-group">
                        <div class=""> <button type="submit" ng-show="save_btn" class="btn btn-primary btn-lg disabled">{{'Submit'|translate}}</button> <button type="submit" ng-show="!save_btn" class="btn btn-primary btn-lg">{{'Submit'|translate}}</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>