<ul class="list-unstyled navbar-btn menu-left-sidebar panel">
    <li> <a href="user/quote_service/edit/{{quoteServiceId}}"><i class="fa fa-fw fa-pencil-square"></i> {{'Edit Service'|translate}}</a></li>
    <li> <a href="quote_service_photos/{{quoteServiceId}}"><i class="fa fa-fw fa-picture-o"></i> {{'Photos'|translate}}</a></li>
    <li> <a href="quote_service_audios/{{quoteServiceId}}"><i class="fa fa-fw fa-file-audio-o"></i> {{'Audios'|translate}}</a></li>
    <li> <a href="quote_service_videos/{{quoteServiceId}}"><i class="fa fa-fw fa-file-video-o"></i> {{'Videos'|translate}}</a></li>
    <li> <a href="quote_service_faqs/{{quoteServiceId}}"><i class="fa fa-fw fa-question-circle-o"></i> {{'FAQs'|translate}}</a></li>
</ul>