<div class="row">
	<div class="col-lg-12">
		<content-top>
			<div class="content-top clearfix">
				<h1 class="al-title ng-binding">Transactions</h1>
				<ul class="breadcrumb al-breadcrumb">
					<li><a href="#/dashboard">Home</a></li>
					<li class="ng-binding">Transactions</li>
				</ul>
			</div>
		</content-top>
	</div>
</div>
<div class="row" id="create-view">
	<div class="clearfix well-sm panel animated zoomIn">
		
                        <div class="panel-heading">
							<ul class="list-inline top-mspace text-center project-lists text-center">
								<li class="cursor" ng-click="getTransactions('all','','')" title="All"> 
								  <p class="no-mar">{{'All'| translate}}</p>          
								</li>
								<li class="cursor" ng-click="getTransactions('today','','')" title="Today">
								  <p class="no-mar">{{'Today' | translate}}</p> 
									<!--<input type="radio" name="transaction_filter" ng-model="transaction_filter" value="" lable="{{Today| translate}}" /> -->
								</li>
								<li class="cursor" ng-click="getTransactions('this_week','','')" title="This Week"> 
								  <p class="no-mar">{{'This Week'| translate}}</p>          
								</li>
								<li class="cursor" ng-click="getTransactions('this_month','','')" title="This Month">
								  <p class="no-mar">{{'This Month' | translate}}</p>
								</li>
								<li class="cursor" ng-click="customDateForm()" title="Custom Date">
								  <p class="no-mar">{{'Custom Date' | translate}}</p>
								</li>
							</ul>
							<div class="hide js-date">
								<form class="proj-form row" role="form" name="customFilter" novalidate>
									<div class="col-sm-6">
										<div class="form-group"> 
											<label>{{'From Date'|translate}}</label> 
											<input type="text" name="from_date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="from_date" is-open="popup1.opened" datepicker-options="dateOptions"
									close-text="Close" alt-input-formats="altInputFormats" ng-focus="open1()" ng-required="true" /> <span class="error" ng-show="(customFilter.$submitted || customFilter.from_date.$touched) && (customFilter.from_date.$pristine || customFilter.from_date.$invalid) && (customFilter.from_date.$error.required)">{{'Required'| translate }}</span>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group"> 
												<label>{{'To Date'|translate}}</label> 
												<input type="text" name="to_date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="to_date" is-open="popup2.opened" datepicker-options="dateOptions"
										close-text="Close" alt-input-formats="altInputFormats" ng-focus="open2()" ng-required="true" /> <span class="error" ng-show="(customFilter.$submitted || customFilter.to_date.$touched) && (customFilter.to_date.$pristine || customFilter.to_date.$invalid) && (customFilter.to_date.$error.required)">{{'Required'| translate }}</span>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group"> 
											<button title="Filter" type="submit" ng-click="filterDate(customFilter.$valid)" class="btn btn-danger">{{'Filter'|translate}}</button>
										</div>
									</div>
								</form>
							</div>
					      <div class="add-wallet-table">
                                <div class="table-responsive pg-table">
									<table class="table table-striped no-mar">
                                        <thead ng-if="transactions.length">
                                            <tr>
                                                <th>{{'Date' |translate}}</th>
                                                <!--<th>{{'To'|translate}}</th> -->
												<th>{{'Description'|translate}}</th>
                                                <th>{{'Credit'|translate}}({{settings.CURRENCY_SYMBOL}})</th>
									        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="transaction in transactions" ng-if="transactions.length">
                                                <td>{{transaction.created_at | date_format : 'medium'}}</td>
                                                <!--<td>{{transaction.other_user.username}}</td> -->
												<td> 
													<span ng-bind-html="transaction.transaction_message">{{transaction.transaction_message}}</span> 
												</td>
                                                <td>{{transaction.amount}}</td>
									        </tr>
                                            <tr ng-if="!transactions.length" class="text-center">
                                                <td colspan="8" class="text-danger"> {{'No records available'|translate}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center" ng-hide="(transactions.length > itemsPerPage) && currentPage==1">
                                        <uib-pagination ng-hide="!transactions.length" previous-text="Previous" next-text="Next" total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"
                                            rotate="false" items-per-page="itemsPerPage" ng-change="paginate_transaction()"></uib-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                </div>
           