<div class="gray-bg top-space top-mspace-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb panel">
                    <li> <a href="/">{{'Home'|translate}}</a> </li>
                    <li class="active">{{'Change Password'|translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div ng-include="'views/users_account_left_side_menu.html'"></div>
            </div>
            <div class="col-md-8 col-lg-9 navbar-btn">
                <div class="section navbar-default" ng-controller='UsersChangePasswordController'>
                    <div class="panel">
                        <div class="panel-heading sep-bot">
                            <h3 class="no-mar">{{'Change Password'|translate}}</h3>
                        </div>
                        <div class="panel-heading">
                            <form class="form-horizontal adminpg-form" role="form" name="userChangePassword" ng-submit="save(userChangePassword.$valid)" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-4"> <label for="inputUsername3" class="control-label">{{'Current password'|translate}}<span class="error">&nbsp;*</span></label> </div>
                                    <div class="col-sm-5"> <input type="password" ng-model="changePassword.password" class="form-control" id="inputUsername3" placeholder="{{'Current password'|translate}}" autocomplete="off" name="inputUsername3" required> <span class="error"
                                            ng-show="(userChangePassword.$submitted || userChangePassword.inputUsername3.$touched) && (userChangePassword.inputUsername3.$pristine || userChangePassword.inputUsername3.$invalid) && (userChangePassword.inputUsername3.$error.required)">{{'Required'| translate}} </span>                                        </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"> <label for="inputPassword3" class="control-label">{{'New Password'|translate}}<span class="error">&nbsp;*</span></label> </div>
                                    <div class="col-sm-5"> <input type="password" ng-model="changePassword.new_password" class="form-control" id="inputPassword3" placeholder="{{'New Password'|translate}}" autocomplete="off" name="inputPassword3" minlength="6" required> <span class="error"
                                            ng-show="(userChangePassword.$submitted || userChangePassword.inputPassword3.$touched) && (userChangePassword.inputPassword3.$pristine || userChangePassword.inputPassword3.$invalid) && (userChangePassword.inputPassword3.$error.required)">
                                            {{'Required'| translate }}                                    
                                        </span> <span class="error" ng-show="userChangePassword.inputPassword3.$error.pattern">{{'Enter a valid password'|translate}}</span> <span class="error" ng-show="(userChangePassword.$submitted || userChangePassword.inputPassword3.$touched) && (userChangePassword.inputPassword3.$pristine || userChangePassword.inputPassword3.$invalid) && (userChangePassword.inputPassword3.$error.minlength)">{{'Must have at least 6 characters'| translate }}</span>                                        </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"> <label for="inputRepeatPassword3" class="control-label">{{'Confirm Password'|translate}}<span class="error">&nbsp;*</span></label> </div>
                                    <div class="col-sm-5"> <input type="password" password-match="changePassword.new_password" ng-model="changePassword.repeat_password" name="repeat_password" class="form-control" id="inputRepeatPassword3" placeholder="{{'Confirm Password'|translate}}"
                                            autocomplete="off" required> <span class="error" ng-show="(userChangePassword.$submitted || userChangePassword.repeat_password.$touched) && (userChangePassword.repeat_password.$pristine || userChangePassword.repeat_password.$invalid) && (userChangePassword.repeat_password.$error.required)">{{'Required'| translate}} </span>
                                        <div class="error" ng-if="userChangePassword.repeat_password.$dirty" ng-messages="userChangePassword.repeat_password.$error">
                                            <div ng-message="compareTo">{{'Password and repeat password must be same'|translate}}.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-5"> <button type="submit" ng-show="save_btn" class="btn textb btn-primary" disabled>{{'Submit'|translate}}</button> <button type="submit" ng-show="!save_btn" class="btn textb btn-primary">{{'Submit'|translate}}</button>                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>